{% extends "base.html" %}
{% block title %}Set New Password - Serenity{% endblock %}

{% block content %}
<div class="auth-container mt-2">
    <div class="text-center mb-2">
        <h2>Set New <span style="font-weight: 100;">Password</span></h2>
        <p class="text-secondary">Enter your new secure password below.</p>
    </div>

    <form method="POST" action="">
        <div class="form-group">
            <label for="password">New Password <span style="color: var(--error);">*</span></label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="••••••••">
        </div>

        <button type="submit" class="btn btn-primary" style="width: 100%;">Save Password</button>
    </form>
</div>
{% endblock %}