{% extends "base.html" %}
{% block title %}{{ module.title }} - Serenity{% endblock %}

{% block content %}
<article class="article-content mt-2">
    <a href="{{ url_for('modules.list_modules') }}" class="text-secondary mb-1"
        style="display:inline-block; text-decoration:none;">&larr; Back to Modules</a>
    <h1 class="mb-1">{{ module.title }}</h1>
    <div class="content text-secondary">
        {{ module.content | safe }}
    </div>

    {% if session.get('user_id') %}
    <div class="mt-2" style="border-top: 1px solid rgba(255, 255, 255, 0.1); padding-top: 2rem;">
        <form method="POST" action="{{ url_for('user_bp.complete_module', module_id=module.id) }}" class="text-left">
            <button type="submit" class="btn btn-outline"
                style="width: auto; padding: 0 40px; height: 50px; line-height: 50px;">Mark Module as Complete
                &check;</button>
        </form>
    </div>
    {% endif %}
</article>
{% endblock %}